@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Questrial&display=swap');

body {
  font-family: 'Graduate', serif;
    margin:0px;
}
footer {
  font-family: 'Questrial', sans-serif;
}
a{
    text-decoration: none;
}
/*barra blanca*/
.cuerpo{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 150px 1000px;
    grid-area:
    "he he"
    "ba cu" ;
} 
.barra_sup{
    grid-area: "he";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 80px;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.logo{
    height: 140px;
    border-radius: 50%;
}
.casa{
    height: 40px;
}
.pedro{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titulo{
    padding-left: 50px;
    display: flex;
    font-size: 3em;
}
/*barra ploma*/
.barra{
    grid-area: "ba";
    background-color: #63656D;
    height: 852px;
    padding: 74px;
    display: flex;
    justify-content: center;
}
.menu{
    height: 40px;
}
/*MENUU*/

    .menu-boton {
        height: 40px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .menu-contenido {
        color: white;
      display: none;
      position: absolute;
      background-color:rgb(31,35,46);
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .menu-contenido a {
      color: rgb(255, 255, 255);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .menu-contenido a:hover {
      background-color: #ffffff;
      color: black;
    }

    .mostrar {
      display: block;
    }
/*tablon*/
.tablon{
    grid-area: "cu";
    background-color: rgb(31,35,46);
    display: flex;
    align-items: center;
    padding-top: 200px;
    flex-direction: column;
    height: 800px;
}
.texto{
    color: white;
    text-align: center;
}
.boton_unir{
    color: rgb(31,35,46);
    background-color: white;
    padding: 4px;
    margin-left: 30px;
}
/*barra ploma y tablon*/
.cuerpo{
    height: 1000px;
}
/*footer*/
footer{
    text-align: center;
}

/*media de todo*/
@media (max-width:1200px){
    .cuerpo{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 300px;
    grid-area:
    "he he"
    "ba ba"
    "cu cu" ;
}
.barra{
    height: 50px;
    padding: 10px;
    display: block;
} 
.menu-boton {
        height: 30px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
.tablon{
    background-color:rgb(31,35,46);
    height: 750px;
}
footer{
background-color: white;
padding: 5px;
}
.barra_sup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 20px;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.casa{
    width: 0px;
    height: 0px;
}
}

/*animacones*/

.boton_unir ,.casa {
    padding: 5px;
    transition: transform 0.4s ease, padding 0.4s ease;
    transform: scale(1); /* estado inicial */
}

.boton_unir:hover ,.casa:hover{
    padding: 12px;
    transform: scale(1.3);
}
.titulo,.casa{
    animation: venir 0.8s ease;
}
@keyframes venir {
  0%   { transform: translateX(150px); opacity: 0;}
  100%  { transform: translateX(0); opacity: 1;}
}

.conejo{
    animation: apa 1.2s ease;
}
@keyframes apa {
  0%   { opacity: 0;}
  100%  { opacity: 1;}
}

.logo{
    animation: rota 0.6s ease;
}

@keyframes rota {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/*CLASES*/

.ger{
    background-color: white;
    color: black;
    border: 2px solid white 30px;
}
.nam{
    font-size: 20px;
}
.cur{
    font-size: 12px;
}

