@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Questrial&display=swap');

.gg {
  font-family: 'Graduate', serif;
  margin: 0px;
   
}
footer {
  font-family: 'Questrial', sans-serif;
}
.gg{
    
    margin: 0px; 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "he" 
    "bd"
    "fo";
}
.cuerpo{
    background-color: white;
    grid-area: bd;
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "iz ce de"
    ;
}

.b_izquierda{
    grid-area: iz;
    padding: 5px;
}
.no,.nam,.sub, .noti{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.di{
    background-color: #35403E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0px;
    width: 250px;
    height: 50px;
}

.centro{
    margin: 0px 25px;
    grid-area: ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.ns{
    display: flex;
    justify-content: space-around;
    gap: 5PX;
}
.bienvenida{
    display: flex;
    flex-direction: column;
    margin: -400px 10px 10px 10px;
    
}
.bienvenidos_texto{
    font-size: 50px;
    text-align: center;
}
.b_derecha{
    grid-area: de;
}

th, td {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 12px;
  color: white;
  background-color: #5b6967;
}
td{
   width: 320px; 
}
th {
  background-color: #35403E; /* color de fondo para cabecera */
  font-weight: bold;
}

td:hover {
  background-color: #243633; /* efecto al pasar el mouse */
  color: white;
}

.tabla_estu{
    border-collapse: collapse;
}
.th_estu{
background-color: #1F232E;
width: 180px;
border: 2px solid white;

}
.td_estu{
    background-color: #1F232E;
    border: 2px solid ;
}

.botones_f{
    gap:20px;
}
.boto{
   
    text-align: center;
    background-color: #1F232E; 
    color: white;
    padding: 15px 10px;
    max-height: 70px;
    font-size: 13px;
    font-family: 'Graduate', serif;
    border: 2px solid #1F232E;
    margin: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    
   
}
.boto:hover {
  background-color: white;  /* efecto al pasar el mouse */
  color: black;
}



.casa{
height: 40px;
}
.foto_estu{
    height: 200px;
    width: 200px;
}

@media (max-width: 1900px) {

.cuerpo{
  
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "iz ce de"
    ;
}

.centro{
    grid-area: ce;
    height: auto;
    display: flex;
    flex-direction: column;
}

.tabla_estu{
    width: 100%;
}
.bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    
}
.texto{
    margin: 10px 15px;
    font-size: 50px;
    
}

.b_izquierda{
   
    display: flex;
    flex-direction: column;
}

.no,.men,.sub, .noti{
   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

}

@media (max-width:790px) {
    .cuerpo{
  
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "ce"
        "iz"
        "de"
        ;

    }
    .gg{
            margin: 0px;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "he"
            "bd"
            "fo";
        
    }
    th, td {
        width: 80px;
        height: 50px;
        text-align: center;
        font-size: 12px;
        color: white;
        background-color: #1F232E;
      }
      .casa{
        height: 0px;
      }
      

}

a{
    text-decoration: none;
}

.cale, .titulo_acceso_online,.barra_redes{
        background-color:#35403E;
        color: white;
        margin-bottom: 20px;
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        height: 30px;
    }
    .cal_img{
        height: 120px;
        width: 250px;
    }
    .tj{
        display: flex;
        justify-content: center;
    }
    .ingreso{
        background-color: gray;
        color: white;
        padding: 10px 20px 10px 20px ;
    } 

    .caja_comentario{
        border:solid 1px gray ;
        padding :10px ;
        border-radius: 10px;
    }
    .seh{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bet ,.datos_profe{
        border: 0px solid; 
        background-color: transparent;
    }
    .comen{
        font-size: 20px;
    }
    .ty{
        display: flex;
        align-items: center;
    }
    .caja_comentario_2{
        padding: 5px;
        margin: 6px;
        border: 1px solid gray ;
        background-color: white;
        border-radius: 10px;
    }
    .respuesta{
  font-family: 'Questrial', sans-serif;
    }

    .scro{
    max-height: 400px;     /* Ajusta según lo que necesites */
    overflow-y: auto;      /* Barra lateral para deslizar */
    padding: 10px;
    border-radius: 10px;
    background-color: #35403E;
    }

    
.bienvenida{
    animation: venir 0.8s ease;
}
@keyframes venir {
  0%   { transform: translateY(150px); opacity: 0;}
  100%  { transform: translateY(0); opacity: 1;}
}

.pho ,.ingreso{
    transition: transform 0.4s ease, z-index 0.3s;
    position: relative;
    z-index: 1;
}

.pho:hover , .ingreso:hover{
    transform: scale(1.1);
    z-index: 10;
}