@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Questrial&display=swap');

body {
  font-family: 'Graduate', serif;
    margin:0px;
}

footer {
  font-family: 'Questrial', sans-serif;
}
a{
    text-decoration: none; 
}

body{
    background-color: yellow;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px 2000px 20px;
    grid-template-areas: 
    "he he"
    "cu cu"
    "fo fo";
}

/*Barra superior*/
header{
    grid-area: he;
    background-color: red;
    padding: 1px;
}
.pedro{
    background-color: blueviolet;
}
/*cuerpo todo*/

.cuerpo{
    grid-area: cu;
grid-area: cu;
background-color: green;
display: grid;
grid-template-columns: 10% 90%;
grid-template-rows:100% ;
grid-template-areas: 
"ba ta";
}

/*cuerpo azul*/
.tablon{
    grid-area: ta;
    background-color: aqua;
}

/*barra ploma*/
.barra{
    grid-area: ba;
    background-color: violet;
}
/*footer*/
footer{
    grid-area: fo;
    text-align: center;
    background-color: rgb(255, 255, 255);
}